.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  height: 100vh;
}

.form {
  margin-top: 100px;

  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
  background-color: rgb(238, 245, 245);
  border-bottom: 1px solid rgb(180, 175, 175);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="email"] {
  background: transparent;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(180, 175, 175);
  border-radius: 0%;
}
input[type="password"] {
  background: transparent;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgb(180, 175, 175);
  border-radius: 0%;
}
input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(180, 175, 175);
  border-radius: 0%;
}

h6 {
  color: rgb(102, 98, 98);
  font-weight: lighter;
}

a {
  text-decoration: none;
}

.submit-button {
  border-radius: 50px;
  background-color: #2690d9;
  width: 100%;
}

body {
  background: rgb(77, 147, 127);
  background: linear-gradient(
    90deg,
    rgba(77, 147, 127, 0.9864320728291317) 42%,
    rgba(67, 131, 150, 1) 100%
  );
}
.login {
  text-align: center;
}
.signup {
  text-align: center;
}

.container {
  margin-top: 40px;
}
.loading{
  text-align: center;
  margin-top: 150px;
  margin-left: 420px;
  color: white;
}
